.header{
    background-color: #9a9eac09;
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #262556;
    padding-bottom: 2.2rem;
   
}
.main-header .br-headerbtn{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.3125rem 0.79013rem 0.3125rem 0.8125rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6.1875rem;
    border: 1px solid #E3E3FE;
    color: #262556;
    background: linear-gradient(95deg, rgba(202, 206, 255, 0.10) 0%, rgba(193, 188, 254, 0.10) 100%);
    margin-bottom: 1.25rem;

}
.main-header .br-headertitle{
    text-align: center;
    font-family: Inter;
    font-size: 3.71094rem;
    font-weight: 700;
    line-height: 4rem; /* 107.789% */
    letter-spacing: -0.08rem;
    width: 62%;
    margin-bottom: 0.25rem;
}
.main-header .br-headerpara2{
    color: #262556;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.01rem;
    width: 62%;
    margin-bottom: 1.5rem;
}
@media (max-width:700px){
    html{
        font-size: 10px;
    }
}
.main-header input{
    width:25rem;
    padding: 0.65625rem 0.75rem 0.65625rem 2.375rem;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
border-radius: 0.5rem;
background: #FFF;
outline: none;
border:none;
box-shadow: 0px 0px 0px 1px rgba(14, 9, 72, 0.08), 0px 1px 2px 0px rgba(14, 9, 72, 0.08), 0px 4px 10px 0px rgba(18, 7, 143, 0.08), 0px 8px 12px 0px rgba(18, 7, 143, 0.04);
position: relative;
z-index: -10;

}
.main-header input::placeholder{
    color: #9A9EAC;
}
.iconn{
 
    position: relative;
    right: -7%;
}
.br-btns{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.br-btns button{
    border-radius: 6.1875rem;
border: 1px solid #E3E3FE;

background: linear-gradient(101deg, rgba(202, 206, 255, 0.10) 0%, rgba(193, 188, 254, 0.10) 100%);
outline: none;
margin: 10px;
padding: 10px;
}

.br-button button{
border: none;
outline: none;
background-color: #FFF;
cursor: pointer;
border-radius: 0.375rem;
background: #FFF;
box-shadow: 0px 0px 0px 1px rgba(14, 9, 72, 0.08), 0px 1px 2px 0px rgba(14, 9, 72, 0.08), 0px 2px 6px 0px rgba(18, 7, 143, 0.08);
margin: 0.4rem 0.3rem;
padding: 0.125rem 0.60438rem 0.125rem 0.625rem;
color: #36364A;

font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem;
}