.Section6 .Recent {
    width: 16.5rem;
    border-radius: 0.75rem;
}

.Section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-bottom: 4rem
}

.main-secyion2 span {
    color: #66697F;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
    letter-spacing: -0.01rem;
}

.main-secyion2 .pre {

    width: 2.33rem;


    color: #66697F;
    background: linear-gradient(90deg, #8771CE 0%, #98519B 100%);

    border-radius: 6.1875rem;
    font-size: 1rem;
    margin: 0.35rem;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
    letter-spacing: -0.01rem;
    border: 1px solid rgba(245, 212, 255, 0.24);
    background: linear-gradient(63deg, rgba(185, 205, 255, 0.40) 0%, rgba(201, 182, 255, 0.40) 33.33%, rgba(239, 184, 255, 0.40) 66.67%, rgba(255, 210, 177, 0.40) 100%);
}
.img-infinite{
    max-width: 70.75rem;
  }
  .img-infinite img{
  text-align: center;
  }