.main-secyion2{
    display: flex;
    justify-content: space-between;
  margin-top: 4.4rem;   
  margin-bottom: 1.4rem;   
}
.main-secyion2 .btn-recent{
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0.5rem;
background: #FFF;
padding: 0.375rem 0.85594rem 0.375rem 0.875rem;
color: #36364A;
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
width: 6.02438rem;
height: 2rem;
line-height: 1.25rem; /* 142.857% */
box-shadow: 0px 0px 0px 1px rgba(18, 43, 105, 0.08), 0px 1px 2px 0px rgba(18, 43, 105, 0.08), 0px 2px 6px 0px rgba(18, 43, 105, 0.04);
}
.Section2{
  display: flex;
  justify-content: center;

align-items: center;
flex-wrap: wrap;
margin-bottom: 4rem;
}
.img-infinite{
  max-width: 70.75rem;
}
.img-infinite img{
text-align: center;
}
.cardsection22{
  margin-bottom: 20px;
}